# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Python / Django (In case you add a backend here later)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
